@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use  './helpers' as *;
@import url('https://fonts.googleapis.com/css?family=Roboto Condensed');

html, body {
  font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: url(/@/assets/bg.jpg);
}

.vehicle-details {
  max-width: 80vw;
  background-color: #0f111e;
  background-image: url(/@/assets/bg.jpg);
}